.staff-header-container {
  display: flex;
  flex-direction: row;
}
.staff-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 0px;
  background-color: #f3f4f6;
  padding-bottom: 20px;
}
.label-name-container {
  margin-top: 4px;
}
.name-label {
  font-family: 'Roboto';
  font-size: 18px;
  text-align: left;
}
.name-input {
  padding: 5px;

  font-family: 'Roboto';
  margin-bottom: 10px;
}
.add-button {
  border: none;
  background-color: lightseagreen;
  color: white;
  padding: 7px;
  border-radius: 5px;
  margin-top: 10px;
}
.error-msg {
  font-family: 'Roboto';
  color: #ff0b37;
  font-size: 13px;
}
